@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-inter);
  --font-secondary: var(--font-eb-garamond);
  --color-primary: var(--foreground);
  --color-link: #1e00ff;
  /* 50, 50, 16 for dekstop */
  --text-headerXL: 36px;
  --text-labelXL: 32px;
  --text-body: 12px;
}

@utility font-headerXL {
  @apply text-headerXL font-primary font-semibold tracking-tight;
}

@utility font-labelXL {
  @apply text-labelXL font-secondary leading-8 font-semibold tracking-tight italic;
}

/* Keep colors fixed regardless of OS theme. */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), sans-serif;
}
